<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <%-include('../partials/header1.ejs')%>
</head>
<body>
    <%-include('../partials/nav-student.ejs')%>
    <%-body%>
    <%-include('../partials/footer.ejs')%>
</body>
</html>