<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-title%></title>
    <%-include('../partials/header-student.ejs')%>
</head>
<body>

    <%-include('../partials/nav-student.ejs')%>
    <%-body%>
    <%-include('../partials/footer.ejs')%>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="/js/-Filterable-Cards-.js"></script>
    <script src="/js/agency.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.js"></script>
    <script src="/js/Profile-Edit-Form.js"></script>
    <script src="/js/slider-hover.js"></script>
    <script src="/js/bundle.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="/js/-Filterable-Cards-.js"></script>
    <script src="/js/agency.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.js"></script>
    <script src="/js/Profile-Edit-Form.js"></script>
    <script src="/js/slider-hover.js"></script>
</body>
</html>