<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style2.css">

    
    <script src="https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body>
    

    </header>

    <section class="section-header">
      <div class="header__hero">
        <div class="header__hero-overlay">
          <img src="/img/<%=course.imageCover%>" alt="<%= course.imageCover%>" class="header__hero-img">
        </div>
      </div>
      <div class="heading-box">
        <h1 class="heading-primary">
          <span><%= course.name %></span>
        </h1>
      </div>
      <div class="heading-box__group">
        <div class="heading-box__detail">
          <svg class="heading-box__icon">
            <use xlink:href="/img/icons.svg#icon-clock"></use>
          </svg>
          <span class="heading-box__text" style="color: black; font-weight:bold"><%= course.duration%> hours</span>
        </div>   
        <div class="heading-box__detail">
          <svg class="heading-box__icon">
            <use xlink:href="/img/icons.svg#icon-map-pin"></use>
          </svg>
          <span class="heading-box__text" style="color: black; font-weight:bold">Las Vegas, USA</span>
        </div>
      </div>
    </div>
    </section>
    

    <section class="section-description">
      <div class="overview-box">
        <div>
          <div class="overview-box__group">
            <h2 class="heading-secondary ma-bt-lg">Description</h2>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-calendar"></use>
              </svg>
              <span class="overview-box__label">Starting Date</span>
              <span class="overview-box__text">
                <%= course.startDates[0]%></span>
            </div>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-trending-up"></use>
              </svg>
              <span class="overview-box__label">Difficulty</span>
              <span class="overview-box__text"><%= course.difficulty %></span>
            </div>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-user"></use>
              </svg>
              <span class="overview-box__label">Participants</span>
              <span class="overview-box__text"><%= course.enrolledStudents%></span>
            </div>
            <div class="overview-box__detail">
              <svg class="overview-box__icon">
                <use xlink:href="/img/icons.svg#icon-star"></use>
              </svg>
              <span class="overview-box__label">Rating</span>
              <span class="overview-box__text"><%= course.ratingsAverage%> / 5</span>
            </div>
          </div>

          <div class="overview-box__group">
            <h2 class="heading-secondary ma-bt-lg">Your tutor</h2>

            <div class="overview-box__detail">
              <img
                src="/img/students/user-19.jpg"
                alt="Lead guide"
                class="overview-box__img"
              />
              <span class="overview-box__label">Lead tutor</span>
              <span class="overview-box__text">Steven Miller</span>
            </div>
            <div class="overview-box__detail">
              <img
                src="/img/students/user-18.jpg"
                alt="course guide"
                class="overview-box__img"
              />
              <span class="overview-box__label">Tutor guide</span>
              <span class="overview-box__text">Lisa Brown</span>
            </div>
            <div class="overview-box__detail">
              <img
                src="/img/students/user-17.jpg"
                alt="Intern"
                class="overview-box__img"
              />
              <span class="overview-box__label">Intern</span>
              <span class="overview-box__text">Max Smith</span>
            </div>
          </div>
        </div>
      </div>

      <div class="description-box">
        <h2 class="heading-secondary ma-bt-lg">About the <%= course.name %></h2>
        <p class="description__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
        <p class="description__text">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum!
        </p>
      </div>
    </section>

    <section class="section-reviews">

      <div class="reviews">
        <% for (var i = 0; i < course.reviews; i++) { %>
        <div class="reviews__card">
          <div class="reviews__avatar">
            <img
              src="/img/students/user-7.jpg"
              alt="<%= review.student.name%>"
              class="reviews__avatar-img"
            />
            <h6 class="reviews__user"><%= review.student.name%></h6>
          </div>
          <p class="/reviews__text">
            <%= review.review%>
          </p>
          <div class="reviews__rating">
            <svg class="reviews__star reviews__star--active">
              <use xlink:href="/img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star reviews__star--active">
              <use xlink:href="/img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star reviews__star--active">
              <use xlink:href="/img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star reviews__star--active">
              <use xlink:href="/img/icons.svg#icon-star"></use>
            </svg>
            <svg class="reviews__star reviews__star--active">
              <use xlink:href="/img/icons.svg#icon-star"></use>
            </svg>
          </div>
        </div>
        <% } %>
    
      </div>
    </section>

    <section class="section-cta">
      <div class="cta">
        <div class="cta__img cta__img--logo">
          <img src="/img/logo-white.png" alt="Nacourses logo" class="" />
        </div>
        <img src="/img/course-5-2.jpg" alt="" class="cta__img cta__img--1" />
        <img src="/img/course-5-1.jpg" alt="" class="cta__img cta__img--2" />

        <div class="cta__content">
          <h2 class="heading-secondary">What are you waiting for?</h2>
          <p class="cta__text">
            Meet your tutor Face to Face. 1 course. Great tuotring. Make it yours today!
          </p>
          <button class="btn btn--green span-all-rows">Book course now!</button>
        </div>
      </div>
    </section>
  </body>
</html>
