<head>
    <link rel="stylesheet" href="/css/style2.css" />
</head>
<body>
    <section class="py-5">
        <div class="container">
            <h1 class="text-center mb-4">FILTERABLE CARDS</h1>
            <div class="filtr-controls text-center lead text-uppercase mb-3">
                <span class="active d-inline-block mx-3 py-1 position-relative" data-filter="all">all </span>
                <span class="d-inline-block mx-3 py-1 d-inline-block" data-filter="1">Popularity </span>
                <span class="d-inline-block mx-3 py-1 position-relative" data-filter="2">Certified </span>
                <span class="d-inline-block mx-3 py-1 position-relative" data-filter="3">relevant </span>
            </div>
            <!-- <div class="row filtr-container">
            <% for (var i = 0; i < course.length; i++) { %>
                <div class="col-md-6 col-lg-4">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col-lg-8 mx-auto">
                                        <h2 class="text-uppercase text-secondary mb-0"><%= course[i].name %></h2>
                                        <hr class="star-dark mb-5">
                                        <img class="img-fluid mb-5" src= '/img/<%=course[i].imageCover%>' >
                                        <p class="mb-5">Description: <%= course[i].summary %> <br></p>
                                        <p>Rate: <%= course[i].ratingsAverage %>/5 (<%= course[i].ratingsQuantity%> students)</p>
                                        <p> Price: $<%= course[i].price %></p>
                                        <p>Difficulty: <%= course[i].difficulty %></p>
                                        <p>Duration: <%= course[i].duration %>  hour</p>  
                                    

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer pb-5">
                        <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal" href="/course/<%=course[i].slug %>">Enroll Now<a>
                        </div>
                    </div>
                    <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-1" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="/img/blockchain.jpg">
                    </a>
                <div class="modal-dialog modal-lg" role="document">
        </div>
                </div>
                <% } %> -->
        </div>
    </section>
   
    <main class="main">
        <div class="card-container">
         <% for (var i = 0; i < course.length; i++) { %>
          <div class="card">
            <div class="card__header">
              <div class="card__picture">
                <div class="card__picture-overlay">&nbsp;</div>
                <img
                  src="/img/<%=course[i].imageCover%>"
                  alt="course 1"
                  class="card__picture-img"
                />
              </div>
  
              <h3 class="heading-tertirary">
                <span><%= course[i].name %></span>
              </h3>
            </div>
  
            <div class="card__details">
              <h4 class="card__sub-heading">Level: <%=course[i].difficulty%></h4>
              <p class="card__text">
                <%= course[i].summary %>
              </p>
              <div class="card__data">
                <svg class="card__icon">
                  <use xlink:href="/img/icons.svg#icon-map-pin"></use>
                </svg>
                <span>Banff, Canada</span>
              </div>
              <div class="card__data">
                <svg class="card__icon">
                  <use xlink:href="/img/icons.svg#icon-calendar"></use>
                </svg>
                <span>Duration: <%= course[i].duration %>hr </span>
              </div>
              <div class="card__data">
                <svg class="card__icon">
                  <use xlink:href="/img/icons.svg#icon-flag"></use>
                </svg>
                <span>3 stops</span>
              </div>
              <div class="card__data">
                <svg class="card__icon">
                  <use xlink:href="/img/icons.svg#icon-user"></use>
                </svg>
                <span><%= course[i].enrolledStudents %> students has already enrolled</span>
              </div>
            </div>
  
            <div class="card__footer">
              <p>
                <span class="card__footer-value">$<%= course[i].price %></span>
                <span class="card__footer-text">per person</span>
              </p>
              <p class="card__ratings">
                <span class="card__footer-value"><%= course[i].ratingsAverage %></span>
                <span class="card__footer-text">rating (<%= course[i].ratingsQuantity%>)</span>
              </p>
              <a href="/student/course" class="btn btn--green btn--small">Enroll Now</a>
            </div>
          </div>
          <% } %>
        </div>
      </main>
</body>