<body>
    <section class="py-5">
        <div class="container">
            <h1 class="text-center mb-4">FILTERABLE CARDS</h1>
            <div class="filtr-controls text-center lead text-uppercase mb-3">
                <span class="active d-inline-block mx-3 py-1 position-relative" data-filter="all">all </span>
                <span class="d-inline-block mx-3 py-1 d-inline-block" data-filter="1">Popularity </span>
                <span class="d-inline-block mx-3 py-1 position-relative" data-filter="2">Certified </span>
                <span class="d-inline-block mx-3 py-1 position-relative" data-filter="3">relevant </span>
            </div>
            <div class="row filtr-container">
            <% for (var i = 0; i < course.length; i++) { %>
                <div class="col-md-6 col-lg-4">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col-lg-8 mx-auto">
                                        <h2 class="text-uppercase text-secondary mb-0"><%= course[i].name %></h2>
                                        <hr class="star-dark mb-5">
                                        <img class="img-fluid mb-5" src="/img/blockchain.jpg">
                                        <p class="mb-5">Description: <%= course[i].summary %> <br></p>
                                        <p>Rate: <%= course[i].ratingsAverage %> </p>
                                        <p>Price: <%= course[i].price %> </p>
                                        <p>Difficulty: <%= course[i].difficulty %> </p>
                                        <p>Duration: <%= course[i].duration %></p>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer pb-5">
                            <a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">Enroll Now<a>
                        </div>
                    </div>
                    <a class="d-block mx-auto portfolio-item" href="#portfolio-modal-1" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <!-- <img class="img-fluid" src="/img/blockchain.jpg"> -->
                    </a>
                <div class="modal-dialog modal-lg" role="document">
        </div>
                </div>
                <% } %>
                <!-- <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-5" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="/img/python1.jpg">
                    </a></div> 
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-2" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="/img/data.jpg">
                    </a></div>
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-4" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="/img/d-render-ai-artificial-intelligence-technology-cpu-central-processor-unit-chipset-printed-circuit-board-electronic-137795293.jpg">
                    </a></div>
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-6" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="/img/block-chain-crypto-currency-blockchain-concept-d-wireframe-digital-code-editable-cryptocurrency-template-illustration-illus-126119576.jpg">
                    </a></div>
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-3" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="/img/machine-learning.jpg">
                    </a></div>
            </div>-->
        </div>
    </section>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-1">
        <% for (var i = 0; i < course.length; i++) { %>

    <% } %>
       
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Data mining&nbsp;</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="/img/data.jpg">
                                <p class="mb-5">Data mining is&nbsp;a process used by companies to turn raw data into useful information.&nbsp;By using software to look for patterns in large batches of data, businesses can learn more about their customers to develop more effective marketing strategies, increase sales and decrease costs.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">Enroll Now</a></div>
            </div>
        </div>
    </div>
    
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Machine learning</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="/img/machine-learning.jpg">
                                <p class="mb-5">Machine Learning is an AI technique that teaches computers to learn from experience. Machine learning algorithms use computational methods to “learn” information directly from data without relying on a predetermined equation as a model. The algorithms adaptively improve their performance as the number of samples available for learning increases.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">&nbsp;Enroll Now</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">artificial intelligence</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="/img/d-render-ai-artificial-intelligence-technology-cpu-central-processor-unit-chipset-printed-circuit-board-electronic-137795293.jpg">
                                <p class="mb-5"><br>Artificial Intelligence is the theory and development of computer systems able to perform tasks normally requiring human intelligence, such as visual perception, speech recognition, decision-making, and translation between languages.<br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">&nbsp;Enroll Now</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Python programming</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="/img/python1.jpg">
                                <p class="mb-5">Python is a<strong>&nbsp;</strong>high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">&nbsp;Enroll Now</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-6">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Project managment</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="/img/project.jpg">
                                <p class="mb-5">Project management involves the planning and organization of a company's resources to move a specific task, event, or duty towards completion. It typically involves a one-time project rather than an ongoing activity, and resources managed include personnel, finances, technology, and intellectual property.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">&nbsp;Enroll Now</a></div>
            </div>
        </div>
    </div>
</body>